html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #444444;
}

strong {
  font-size: 32px;
}

p {
  font-size: 24px;
  color: #7F7C82;
}


nav {
  display: flex;
  height: 64px;
  max-height: 64px;
  background-color: white;
  justify-content: space-between;
}

nav>div {
  display: flex;
  justify-items: center;
  align-items: center;
}

nav>div>span {
  height: 32px;
  display: flex;
  justify-items: center;
  align-items: center;
}

nav .logo-img {
  margin-left: 24px;
}

nav>.main-menu {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: flex-end; */
  /* list-style-type: none; */
  /* margin-left: -16px; */
  justify-items: center;
  align-items: center;
  margin-right: 16px;
}


nav>.main-menu>li {

  display: inline;
  list-style-type: none;
  margin: 8px;
}

nav>.main-menu>li>a {
  text-decoration: none;
  color: #333;

}



/* Part one */

.part-one {
  background-color: #D8D8D8;
  display: flex;
  align-items: center;



}

.part-one>img {
  /* margin-left: 24px;
    margin-top: 32px; 
    margin-bottom: 32px; */
  margin: 32px 24px;
  display: inline-block;
}

.part-one>.banner-caption {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25%;

}

.part-one>.banner-caption button {
  padding: 8px 0;
  color: white;
  background-color: #444444;
  border: 0;
  cursor: pointer;
}


/* part two */

.part-two {
  background-color: white;
  display: flex;

}

.part-two>.left-side {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 32px 24px;

}

.part-two>.left-side h2 {
  font-size: 42px;
  margin-top: 32px;
  margin-bottom: 24px;
}

.part-two>.left-side>div {
  display: flex;
  flex-direction: column;
  align-content: space-between;

}

.part-two>.right-side {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
  width: 40%;
  justify-content: flex-start;
}

.part-two>.right-side>.right-side-item {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
}

.part-two>.right-side>.right-side-item>.item-content {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
}

.part-two>.right-side>.right-side-item>img {
  margin: 16px;
  width: 35%;
  height: auto;
}

.part-two>.right-side>.right-side-item>.item-content p {
  margin: 8px 0;
}

.part-two>.right-side>.right-side-item>.item-content a {
  text-decoration: none;
}




/* part three */

.part-three {
  background-color: #EDEDED;
  padding-bottom: 32px;

}


.part-three>.header {
  text-align: center;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 16px;
  font-size: 42px;
}

.part-three>.card-collection {
  display: flex;
  justify-content: center;
  padding: 0 40px;
  width: 100%;
  flex-wrap: wrap;

}

.part-three>.card-collection>.card {
  margin: 16px;
  background-color: white;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  list-style: none;
  flex: 0 0 33.33%;
}

.part-three>.card-collection>.card img {
  height: auto;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}

.part-three>.card-collection>.card .img-border {
  height: 250px;
}


.part-three>.card-collection>.card>.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 16px 24px 16px;

}

.part-three>.card-collection>.card>.card-content p {
  margin-top: 8px;
  margin-bottom: 0;
}


/* part four */

.part-four {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

}

.part-four>.header {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 42px;
}

.part-four>.exhibit {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* width: 100%; */
  /* margin: 32px 0; */
}

.part-four>.exhibit>.left-side {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 60%;
  margin: 0 24px;

}

.part-four>.exhibit>.left-side video {
  /* height: auto; */
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}

.part-four>.exhibit>.left-side>.video-caption {
  margin-top: 24px;
  margin-bottom: 32px;
}

.part-four>.exhibit>.left-side>.video-caption p {
  margin-top: 8px;

}

.part-four>.exhibit>.left-side>.video-caption strong {
  font-size: 28px;

}

.part-four>.exhibit>.right-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: flex-start;
}

.part-four>.exhibit>.right-side>.right-side-item {
  display: flex;
  flex-direction: row;

}


.part-four>.exhibit>.right-side>.right-side-item>.item-content {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
}

.part-four>.exhibit>.right-side>.right-side-item>img {
  margin: 16px;
  width: 35%;
  height: auto;
}

.part-four>.exhibit>.right-side>.right-side-item>.item-content p {
  margin: 8px 0;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 16px 24px 0 24px;
  padding-bottom: 40px;
  height: fit-content;
}

footer a {
  text-decoration: none;
  color: #333;
}